<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.UserRelationMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.UserRelation">
        <!--@mbg.generated-->
        <!--@Table t_user_relation-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent" jdbcType="BIGINT" property="parent"/>
        <result column="parent1" jdbcType="BIGINT" property="parent1"/>
        <result column="parent2" jdbcType="BIGINT" property="parent2"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, parent, parent1, parent2, user_id, remark, create_at, update_at, deleted
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.UserRelation"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user_relation (parent, parent1, parent2,
                                     user_id, remark, create_at,
                                     update_at, deleted)
        values (#{parent,jdbcType=BIGINT}, #{parent1,jdbcType=BIGINT}, #{parent2,jdbcType=BIGINT},
                #{userId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT},
                #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-05-12-->
    <select id="findOneByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_relation
        where user_id = #{userId,jdbcType=BIGINT}
          AND deleted = false
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-12-->
    <select id="findByParent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_relation
        where parent = #{parent,jdbcType=BIGINT}
          AND deleted = false
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-12-->
    <select id="countByParent" resultType="java.lang.Integer">
        select count(1)
        from t_user_relation
        where parent = #{parent,jdbcType=BIGINT}
          AND deleted = false
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-12-->
    <select id="findByParent1AndParentIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_relation
                where parent1 = #{parent1,jdbcType=BIGINT}
                  and parent in
        <foreach item="item" index="index" collection="parentCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-12-->
    <select id="findByParent1" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_relation
        where parent1 = #{parent1,jdbcType=BIGINT}
    </select>
</mapper>
