<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.UserSocialMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.UserSocial">
        <!--@mbg.generated-->
        <!--@Table t_user_social-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="social_id" jdbcType="VARCHAR" property="socialId"/>
        <result column="social_union_id" jdbcType="VARCHAR" property="socialUnionId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="other" jdbcType="LONGVARCHAR" property="other"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, social_id, social_union_id, `type`, nickname, avatar, other, user_id, create_at,
        update_at, deleted
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.UserSocial"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user_social (social_id, social_union_id, `type`,
                                   nickname, avatar, other,
                                   user_id, create_at, update_at,
                                   deleted)
        values (#{socialId,jdbcType=VARCHAR}, #{socialUnionId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
                #{nickname,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{other,jdbcType=LONGVARCHAR},
                #{userId,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT},
                #{deleted,jdbcType=BOOLEAN})
    </insert>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user_social
                (social_id, social_union_id, `type`, nickname, avatar, other, user_id, create_at,
                 update_at, deleted)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.socialId,jdbcType=VARCHAR}, #{item.socialUnionId,jdbcType=VARCHAR}, #{item.type,jdbcType=TINYINT},
             #{item.nickname,jdbcType=VARCHAR}, #{item.avatar,jdbcType=VARCHAR}, #{item.other,jdbcType=LONGVARCHAR},
             #{item.userId,jdbcType=BIGINT}, #{item.createAt,jdbcType=BIGINT}, #{item.updateAt,jdbcType=BIGINT},
             #{item.deleted,jdbcType=BOOLEAN})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-11-27-->
    <select id="findOneBySocialUnionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_social
        where social_union_id = #{socialUnionId,jdbcType=VARCHAR}
          AND deleted = false
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-27-->
    <select id="findOneBySocialIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_social
        where deleted = 0
          AND social_id = #{socialId,jdbcType=VARCHAR}
          and `type` = #{type,jdbcType=TINYINT}
    </select>
</mapper>
