<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.ProductCategory">
        <!--@mbg.generated-->
        <!--@Table t_product_category-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, pid, `name`, description, img_url, sort, create_at, update_at, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_product_category
        where id = #{id,jdbcType=BIGINT}
          AND deleted = false
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.ProductCategory"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_product_category (pid, `name`, description,
                                        img_url, sort, create_at,
                                        update_at, deleted)
        values (#{pid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
                #{imgUrl,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createAt,jdbcType=BIGINT},
                #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.ProductCategory">
        <!--@mbg.generated-->
        update t_product_category
        set pid         = #{pid,jdbcType=BIGINT},
            `name`      = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            img_url     = #{imgUrl,jdbcType=VARCHAR},
            sort        = #{sort,jdbcType=INTEGER},
            create_at   = #{createAt,jdbcType=BIGINT},
            update_at   = #{updateAt,jdbcType=BIGINT},
            deleted     = #{deleted,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_product_category
                (pid, `name`, description, img_url, sort, create_at, update_at, deleted)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.pid,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR},
             #{item.imgUrl,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER}, #{item.createAt,jdbcType=BIGINT},
             #{item.updateAt,jdbcType=BIGINT}, #{item.deleted,jdbcType=BOOLEAN})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-03-29-->
    <update id="updateDeletedById">
        update t_product_category
        set deleted=#{updatedDeleted,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryTable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_category
                where deleted = false
        <if test="name != null">
            <bind name="bind" value="'%' + name + '%'"/>
            AND name like #{bind}
        </if>
        <if test="pid != null">
            AND pid = #{pid}
        </if>
        order by sort asc, create_at desc
        limit #{offset},#{limit}
    </select>

    <select id="queryTableCount" resultType="long">
        select count(id)
        from t_product_category
                where deleted = false
        <if test="name != null">
            <bind name="bind" value="'%' + name + '%'"/>
            AND name like #{bind}
        </if>
        <if test="pid != null">
            AND pid = #{pid}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-29-->
    <select id="findByPid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_category
        where deleted = false
          AND pid = #{pid,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-01-->
    <select id="findByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_category
                where deleted = false
                  AND id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>