<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.UserProductCollectionMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.UserProductCollection">
        <!--@mbg.generated-->
        <!--@Table t_user_product_collection-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, product_id, create_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_user_product_collection
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from t_user_product_collection
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.UserProductCollection"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user_product_collection (user_id, product_id, create_at)
        values (#{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.UserProductCollection">
        <!--@mbg.generated-->
        update t_user_product_collection
        set user_id    = #{userId,jdbcType=BIGINT},
            product_id = #{productId,jdbcType=BIGINT},
            create_at  = #{createAt,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user_product_collection
                (user_id, product_id, create_at)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId,jdbcType=BIGINT}, #{item.productId,jdbcType=BIGINT}, #{item.createAt,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-04-02-->
    <select id="findOneByUserIdAndProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_product_collection
        where user_id = #{userId,jdbcType=BIGINT}
          and product_id = #{productId,jdbcType=BIGINT}
        order by create_at desc
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-02-->
    <delete id="deleteByUserIdAndProductId">
        delete
        from t_user_product_collection
        where user_id = #{userId,jdbcType=BIGINT}
          and product_id = #{productId,jdbcType=BIGINT}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-04-02-->
    <select id="findByUserIdAndProductIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_product_collection
                where user_id = #{userId,jdbcType=BIGINT}
                  and product_id in
        <foreach item="item" index="index" collection="productIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-05-10-->
    <select id="findByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_product_collection
        where user_id = #{userId,jdbcType=BIGINT}
        order by create_at desc
        limit #{offset},#{limit}
    </select>
</mapper>