<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.OrderRemindDeliveryMapper">
  <resultMap id="BaseResultMap" type="cn.jimoos.model.OrderRemindDelivery">
    <!--@mbg.generated-->
    <!--@Table t_order_remind_delivery-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, `uid`, create_at, update_at, deleted
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.OrderRemindDelivery" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order_remind_delivery (order_id, `uid`, create_at,
      update_at, deleted)
    values (#{orderId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT},
      #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.OrderRemindDelivery">
    <!--@mbg.generated-->
    update t_order_remind_delivery
    set order_id = #{orderId,jdbcType=BIGINT},
      `uid` = #{uid,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-01-04-->
  <select id="findByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_order_remind_delivery
    where deleted = false
    and order_id=#{orderId,jdbcType=BIGINT}
  </select>
</mapper>
