<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.OrderCartMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.OrderCart">
        <!--@mbg.generated-->
        <!--@Table t_order_cart-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="checked" jdbcType="BOOLEAN" property="checked"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, product_id, user_id, sku_id, num, `checked`, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from t_order_cart
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.OrderCart"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_order_cart (product_id, user_id, sku_id,
                                  num, `checked`, create_at,
                                  update_at)
        values (#{productId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT},
                #{num,jdbcType=INTEGER}, #{checked,jdbcType=BOOLEAN}, #{createAt,jdbcType=BIGINT},
                #{updateAt,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.OrderCart">
        <!--@mbg.generated-->
        update t_order_cart
        set product_id = #{productId,jdbcType=BIGINT},
            user_id    = #{userId,jdbcType=BIGINT},
            sku_id     = #{skuId,jdbcType=BIGINT},
            num        = #{num,jdbcType=INTEGER},
            `checked`  = #{checked,jdbcType=BOOLEAN},
            create_at  = #{createAt,jdbcType=BIGINT},
            update_at  = #{updateAt,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_order_cart
                (product_id, user_id, sku_id, num, `checked`, create_at, update_at)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.productId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.skuId,jdbcType=BIGINT},
             #{item.num,jdbcType=INTEGER}, #{item.checked,jdbcType=BOOLEAN}, #{item.createAt,jdbcType=BIGINT},
             #{item.updateAt,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-12-28-->
    <select id="findOneBySkuId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
        where sku_id = #{skuId,jdbcType=BIGINT}
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-28-->
    <select id="findByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
                where id in
        <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-28-->
    <select id="findByIdInAndUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
                where id in
        <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
        and user_id = #{uid,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-01-20-->
    <select id="findOneBySkuIdAndUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
        where sku_id = #{skuId,jdbcType=BIGINT}
          and user_id = #{uid,jdbcType=BIGINT}
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-07-->
    <delete id="deleteByUserIdAndIdIn">
        delete
        from t_order_cart
                where user_id = #{userId,jdbcType=BIGINT}
                  and id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-04-08-->
    <update id="updateCheckedByUserIdAndIdIn">
        update t_order_cart
        set `checked`=#{updatedChecked,jdbcType=BOOLEAN}
                where user_id = #{userId,jdbcType=BIGINT}
                  and id in
        <foreach item="item" index="index" collection="cartIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-04-08-->
    <select id="findByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_cart
        where user_id = #{userId,jdbcType=BIGINT}
        order by create_at desc
        limit #{offset},#{limit}
    </select>
</mapper>