<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.OrderItem">
        <!--@mbg.generated-->
        <!--@Table t_order_item-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_cover" jdbcType="VARCHAR" property="productCover"/>
        <result column="product_type" jdbcType="VARCHAR" property="productType"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="sku_name" jdbcType="VARCHAR" property="skuName"/>
        <result column="sku_cover" jdbcType="VARCHAR" property="skuCover"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="fee" jdbcType="DECIMAL" property="fee"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="real_pay" jdbcType="DECIMAL" property="realPay"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, product_id, product_name, product_cover, product_type, sku_id, sku_name, sku_cover,
        num,price, fee,product_price,discount,real_pay,order_id, extra, create_at, update_at, deleted
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.OrderItem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_order_item (id, product_id, product_name, product_cover, product_type, sku_id, sku_name,
                                  sku_cover,
                                  num, price, fee, product_price, discount, real_pay, order_id, extra, create_at,
                                  update_at, deleted)
        values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR},
                #{productCover,jdbcType=VARCHAR},
                #{productType,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR},
                #{skuCover,jdbcType=VARCHAR},
                #{num,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
                #{productPrice,jdbcType=DECIMAL},
                #{discount,jdbcType=DECIMAL}, #{realPay,jdbcType=DECIMAL}, #{orderId,jdbcType=BIGINT},
                #{extra,jdbcType=VARCHAR},
                #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
    </insert>

    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_order_item
                (product_id, product_name, product_cover, product_type, sku_id, sku_name, sku_cover,
                 num, price, fee, product_price, discount, real_pay, order_id, extra, create_at, update_at, deleted)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.productId,jdbcType=BIGINT}, #{item.productName,jdbcType=VARCHAR},
             #{item.productCover,jdbcType=VARCHAR},
             #{item.productType,jdbcType=VARCHAR}, #{item.skuId,jdbcType=BIGINT}, #{item.skuName,jdbcType=VARCHAR},
             #{item.skuCover,jdbcType=VARCHAR}, #{item.num,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL},
             #{item.fee,jdbcType=DECIMAL},
             #{item.productPrice,jdbcType=DECIMAL}, #{item.discount,jdbcType=DECIMAL}, #{item.realPay,jdbcType=DECIMAL},
             #{item.orderId,jdbcType=BIGINT},
             #{item.extra,jdbcType=VARCHAR}, #{item.createAt,jdbcType=BIGINT}, #{item.updateAt,jdbcType=BIGINT},
             #{item.deleted,jdbcType=BOOLEAN})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-11-29-->
    <select id="findByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_item
        where deleted = false
          AND order_id = #{orderId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-14-->
    <select id="findByOrderIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_item
                where deleted = false
                  AND order_id in
        <foreach item="item" index="index" collection="orderIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="findByOrderNum" resultMap="BaseResultMap">
        select
            item.id,
            item.product_id,
            item.product_name,
            item.product_cover,
            item.product_type,
            item.sku_id,
            item.sku_name,
            item.sku_cover,
            item.num,
            item.price,
            item.fee,
            item.product_price,
            item.discount,
            item.real_pay,
            item.order_id,
            item.extra,
            item.create_at,
            item.update_at,
            item.deleted
        from  t_order torder
            join t_order_item item on item.order_id = torder.id
        where
            torder.deleted = false
            AND item.deleted = false
            AND torder.order_num = #{orderNum,jdbcType=VARCHAR}
    </select>
</mapper>
