<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.ShipmentMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.Shipment">
        <!--@mbg.generated-->
        <!--@Table t_shipment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="zip_code" jdbcType="VARCHAR" property="zipCode"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="ship_code" jdbcType="VARCHAR" property="shipCode"/>
        <result column="express" jdbcType="VARCHAR" property="express"/>
        <result column="express_code" jdbcType="VARCHAR" property="expressCode"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, phone, province, city, area, address, zip_code, `comment`, ship_code,
        express, express_code, `status`, `type`, user_id, out_trade_no, create_at, update_at,
        deleted
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.Shipment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_shipment (`name`, phone, province,
                                city, area, address,
                                zip_code, `comment`, ship_code,
                                express, express_code, `status`,
                                `type`, user_id, out_trade_no,
                                create_at, update_at, deleted)
        values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                #{zipCode,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{shipCode,jdbcType=VARCHAR},
                #{express,jdbcType=VARCHAR}, #{expressCode,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
                #{type,jdbcType=TINYINT}, #{userId,jdbcType=BIGINT}, #{outTradeNo,jdbcType=VARCHAR},
                #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.Shipment">
        <!--@mbg.generated-->
        update t_shipment
        set `name`       = #{name,jdbcType=VARCHAR},
            phone        = #{phone,jdbcType=VARCHAR},
            province     = #{province,jdbcType=VARCHAR},
            city         = #{city,jdbcType=VARCHAR},
            area         = #{area,jdbcType=VARCHAR},
            address      = #{address,jdbcType=VARCHAR},
            zip_code     = #{zipCode,jdbcType=VARCHAR},
            `comment`    = #{comment,jdbcType=VARCHAR},
            ship_code    = #{shipCode,jdbcType=VARCHAR},
            express      = #{express,jdbcType=VARCHAR},
            express_code = #{expressCode,jdbcType=VARCHAR},
            `status`     = #{status,jdbcType=TINYINT},
            `type`       = #{type,jdbcType=TINYINT},
            user_id      = #{userId,jdbcType=BIGINT},
            out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            create_at    = #{createAt,jdbcType=BIGINT},
            update_at    = #{updateAt,jdbcType=BIGINT},
            deleted      = #{deleted,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-01-14-->
    <select id="findOneByTypeAndOutTradeNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_shipment
        where `type` = #{type,jdbcType=TINYINT}
          and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
        order by create_at desc
        limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-14-->
    <select id="findByTypeAndOutTradeNoIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_shipment
                where `type` = #{type,jdbcType=TINYINT}
                  and out_trade_no in
        <foreach item="item" index="index" collection="outTradeNoCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="findByOrderNumAndUserId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from t_shipment
            where user_id = #{userId,jdbcType=BIGINT}
            and out_trade_no = #{orderNum,jdbcType=VARCHAR}
            order by create_at desc
        limit 1
    </select>
</mapper>
