<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.OrderVoucherMapper">
  <resultMap id="BaseResultMap" type="cn.jimoos.model.OrderVoucher">
    <!--@mbg.generated-->
    <!--@Table t_order_voucher-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, `status`, content, picture, reason, money, create_at, update_at, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_order_voucher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.OrderVoucher" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order_voucher (order_id, `status`, content, 
      picture, reason, money, 
      create_at, update_at, deleted
      )
    values (#{orderId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{content,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.OrderVoucher">
    <!--@mbg.generated-->
    update t_order_voucher
    set order_id = #{orderId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order_voucher
    (order_id, `status`, content, picture, reason, money, create_at, update_at, deleted
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.orderId,jdbcType=BIGINT}, #{item.status,jdbcType=TINYINT}, #{item.content,jdbcType=VARCHAR}, 
        #{item.picture,jdbcType=VARCHAR}, #{item.reason,jdbcType=VARCHAR}, #{item.money,jdbcType=DECIMAL}, 
        #{item.createAt,jdbcType=BIGINT}, #{item.updateAt,jdbcType=BIGINT}, #{item.deleted,jdbcType=BOOLEAN}
        )
    </foreach>
  </insert>
  
<!--auto generated by MybatisCodeHelper on 2021-09-29-->
  <select id="selectOneByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order_voucher
    where order_id=#{orderId,jdbcType=BIGINT}
        and deleted = false
        limit 1
  </select>
  
  <select id="selectPageCount" resultType="java.lang.Long">
    select count(1)
    from t_order_voucher
    <where>
      deleted = false
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="orderId != null">
        and order_id = #{orderId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  
  <select id="selectPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order_voucher
    <where>
      deleted = false
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="orderId != null">
        and order_id = #{orderId,jdbcType=BIGINT}
      </if>
    </where>
    order by create_at desc 
    limit #{offset}, #{limit}
  </select>
</mapper>