<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jimoos.dao.PaymentMapper">
    <resultMap id="BaseResultMap" type="cn.jimoos.model.Payment">
        <!--@mbg.generated-->
        <!--@Table t_payment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
        <result column="pay" jdbcType="DECIMAL" property="pay"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="paid" jdbcType="BOOLEAN" property="paid"/>
        <result column="paid_channel" jdbcType="VARCHAR" property="paidChannel"/>
        <result column="pay_at" jdbcType="BIGINT" property="payAt"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, out_trade_no, subject, body, pay, pay_type, trade_no, paid, paid_channel, pay_at,
        create_at, update_at, deleted
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.jimoos.model.Payment"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_payment (out_trade_no, subject, body,
                               pay, pay_type, trade_no,
                               paid, paid_channel, pay_at,
                               create_at, update_at, deleted)
        values (#{outTradeNo,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR},
                #{pay,jdbcType=DECIMAL}, #{payType,jdbcType=TINYINT}, #{tradeNo,jdbcType=VARCHAR},
                #{paid,jdbcType=BOOLEAN}, #{paidChannel,jdbcType=VARCHAR}, #{payAt,jdbcType=BIGINT},
                #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, #{deleted,jdbcType=BOOLEAN})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jimoos.model.Payment">
        <!--@mbg.generated-->
        update t_payment
        set out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            subject      = #{subject,jdbcType=VARCHAR},
            body         = #{body,jdbcType=VARCHAR},
            pay          = #{pay,jdbcType=DECIMAL},
            pay_type     = #{payType,jdbcType=TINYINT},
            trade_no     = #{tradeNo,jdbcType=VARCHAR},
            paid         = #{paid,jdbcType=BOOLEAN},
            paid_channel = #{paidChannel,jdbcType=VARCHAR},
            pay_at       = #{payAt,jdbcType=BIGINT},
            create_at    = #{createAt,jdbcType=BIGINT},
            update_at    = #{updateAt,jdbcType=BIGINT},
            deleted      = #{deleted,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-12-17-->
    <select id="findOneByOutTradeNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_payment
        where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
        order by create_at desc
        limit 1
    </select>
</mapper>
